{%extends 'base.html'%}

{%block title_block%}

<title>About Us</title>

{%endblock%}

{%block main_block%}

<div class="container my-20 mx-auto flex flex-wrap items-center lg:w-4/5">
    <h4 class="my-4 text-3xl font-semibold text-black">About Us</h4>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos incidunt id corporis accusantium nesciunt, totam ad rem minus adipisci odit consequatur maxime nulla illo odio explicabo repellat iste vero obcaecati.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ullam velit porro impedit unde, vitae quae dolore. Possimus ex tempore nisi debitis nesciunt perferendis quibusdam deserunt sapiente veritatis, fugit perspiciatis.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut adipisci eveniet corrupti, natus excepturi at cum explicabo aliquam quas porro sint fugit modi et quo aliquid odio sit ad officiis!Lorem
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt adipisci soluta modi corporis quas eaque numquam. Rem eos laudantium eaque ad. Temporibus nesciunt illum sunt atque iusto mollitia dolorum alias.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id praesentium sapiente reprehenderit delectus, hic illo amet quis iusto? Eaque magni quas amet ducimus, similique nesciunt nostrum unde dolore iste sequi.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea soluta nobis, ut modi culpa, magni earum recusandae quaerat dolores fuga necessitatibus iure alias at amet eos vero maiores eaque odio.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, cupiditate perferendis. Saepe placeat officiis numquam cumque debitis neque aperiam soluta? Laborum accusantium alias inventore. Culpa laudantium quidem repudiandae rem minus!
</p>

</div>

{%endblock%}