{%extends 'base.html'%}

{%block title_block%}

<title>Contact Us</title>

{%endblock%}

{%block main_block%}

<div class="container my-40 mx-auto flex flex-wrap items-center lg:w-4/5">

    <h3 class="my-4 text-3xl font-semibold text-black">Contact Us : </h3>

						    	<p> Lorem Ipsum Dolor Sit,</p>
						   		<p>22-56-2-9 Sit Amet, Lorem,</p>
						   		<p>ABC</p>
				   		<p>Phone:(91) 222 666 4445</p>
				 	 	<p>Email: <span>cake@box.com</span></p>
				   		<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>

</div>

{%endblock%}